<p>
<% if user_signed_in? == true %>
 <%= link_to new_post_path do %>
    New post
<% end %>
<% end %>
<p>

  <% @posts.each do |post| %>
  <div class="container">
    <div class="card text-center" style="width: 18rem;">
      <div style="font-size: 30px;">
          <%= link_to post.user.username, user_path(post.user.id) %>
      </div>
          <br>
      <div style="font-size: 40px;">
          <%= simple_format(post.message) %>
      </div>
          <br>
          <%= post.created_at.strftime("%d-%m-%Y %H:%M:%S") %>

    <% if current_user == post.user %>
          <div class='edit'><%= link_to 'Edit', edit_post_path(post) %></div>
          <div class='delete'><%= link_to 'Delete', post_path(post),
                method: :delete,
                data: { confirm: 'Are you sure?' } %></div>
    <% end %>
    </div>
  </div>
  <% end %>
