<!DOCTYPE html>
<html>
  <head>
    <title>Acebook</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <section>
    <div class="navbar navbar-toggleable-md">
      <div class="nav mr-auto"
          <li class="nav-item">
          <a class="nav-link active" href="/posts"><%= image_tag("AcebookIcon-Grey-WhiteBG.png", alt: "Page logo", width: "40", height: "40") %></a>
          </li>
          <% if user_signed_in? == false %>
          <li class="nav-item">
            <a class="nav-link active" href="/register" style="color:white;">Sign up</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/login" style="color:white;">Login</a>
          </li>
          <% end %>
        </div>
          <div class="nav ml-auto">
          <% if user_signed_in? == true %>
          <li class="nav-item">
          <a><%= link_to "Signed in as: #{current_user.username}", user_path(current_user.id),
          method: :get,
          class:"nav-link active", style:"color:white;" %></a>
            </li>
          <li class="nav-item">
        <a><%= link_to "Sign out", destroy_user_session_path,
        method: :get,
        data: { confirm: 'Are you sure?' }, class:"nav-link active", style:"color:white;" %></a>
        </li>
        </div>
        <% end %>
        <div class="nav">
          <li class="nav-item-1">
          <form action="/search">
            <input name="q" type="text" placeholder="Search Users" aria-label="Search">
            <button type="submit">Search</button>
          </form>
          </li>
        </div>
    </section>
  <body style="font-family: helvetica; color: #14716c;">
    <%= render 'layouts/alerts' %>
    <%= yield %>
  </body>

</html>
