<!DOCTYPE html>
<html>
  <head>
    <title>Acebook</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <section>
    <div class="navbar navbar-toggleable-md" >
      <div class="nav mr-auto"
          <li class="nav-item">
          <a class="nav-link active" href="/posts"><%= image_tag("AcebookIcon-Grey-WhiteBG.png", alt: "Page logo", width: "40", height: "40") %></a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/register">Signup</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/login">Login</a>
          </li>
        </div>
          <div class="nav ml-auto">
          <% if user_signed_in? == true %>
          <li class="nav-item">
            <a class="nav-link disabled" style="color:white;" href="#"> Signed in as: <%= current_user.username%></a>
          </li>
          <li class="nav-item">
        <a><%= link_to "Sign out", destroy_user_session_path,
        method: :get,
        data: { confirm: 'Are you sure?' }, class:"nav-link active", style:"color:white;" %></a>
        </li>
        </div>
        <% end %>
    </div>
    </section>
  <body style="font-family :helvetica;color :#228b22;">
    <%= render 'layouts/alerts' %>
    <%= yield %>
  </body>

</html>
